<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
  <strong>Age:</strong>
  <%= @child.age %>
  <strong>Chore:</strong>
  <%= render partial: 'chores/convert', locals: { chore: @child.chore } %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %> |
<%= link_to 'Chores', chores_path %>
