<p id="notice"><%= notice %></p>

<table>
  <col style='width:50%'>
    <thead>
      <tr>
      <th><strong>Name:</strong></th>
      <th><strong>Age:</strong></th>
      <th><strong>Job:</strong></th>
      <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @child.name %></td>
        <td><%= @child.age %></td>
        <td><%= render partial: 'chores/convert', locals: { chore: @child.chore } %></td>
      </tr>
    </tbody>
</table>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %> |
<%= link_to 'Chores', chores_path %>
