<div class="container-lg container-fluid bg-light bg-gradient">

<p id="notice"><%= notice %></p>

<h1 class="text-muted row px-3">Chores</h1>

<div class="row">
  <table class="table table-dark table-striped table-hover table-bordered">
    <thead>
      <tr class="table-secondary text-center">
        <th>Job</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @chores.each do |chore| %>
        <tr class="text-center">
          <td><%= chore.job %></td>
          <td><%= chore.description %></td>
          <td><%= link_to 'View', chore %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!--/row-->

<br>

<div class="col px-3 text-end">
  <%= link_to 'Children', children_path %>
</div> <!--row-->

</div> <!--/container-->