<p id="notice"><%= notice %></p>

<h1>Chores</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= chore.job %></td>
        <td><%= chore.description %></td>
        <td><%= link_to 'Show', chore %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chore', new_chore_path %> |
<%= link_to 'Children', children_path %>
