<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @chore.job %>
  <strong>Description:</strong>
  <%= @chore.description %>
  <strong>Assigned To:</strong>
  <%= @chore.child.as_json.values_at('name').join(' ') %>
</p>

<%= link_to 'Back', chores_path %>
